<h1>Sign In</h1>


<form action="<%= session_url %>" method="POST">
  
  <%= authenticate %>
  

  <label>Username
    <input type='text' name='user[username]'>
  </label>
  <br>
  
  <label>Password
    <input type='password' name='user[password]'>
  </label>
  <br>
  
  <input type="submit">
</form>
