<form action="/comments" method="POST">  
  <%= authenticate %>
  
  <input type='hidden' name='comment[post_id]' value='<%= params[:post_id] %>'>
  <label>content<textarea name='comment[content]'> </textarea></label>

  <input type='submit'>

</form>