<h1>New User</h1>

<form action="<%= users_url %>" method="POST">
  
  <%= authenticate %>
  
  <label>username<input type='text' name='user[username]'></label>
  <label>password<input type='password' name='user[password]'></label>
  <br>
  <input type='submit'>

</form>