<% action_url = sub.persisted? ? sub_url(sub) : subs_url %>
<% http_method = sub.persisted? ? "PATCH" : "POST" %>


<form action="<%= action_url %>" method="POST">
  <input type="hidden" name="_method" value="<%= http_method %>">
  
  <%= authenticate %>
  
  <label>title<input type='text' name='sub[title]'></label>
  
  <label>description<textarea name='sub[description]'> </textarea></label>
  <br>
  <input type='submit'>

</form>
