<h1><%= @sub.title %></h1>
<h3>moderator: <%= @sub.moderator.username%></h3>

<%= @sub.description %>
<br>
<br>


<ul>
<% @sub.posts.each do |post| %>
  <li><%= link_to post.title, post_url(post) %></li>
<% end %>
</ul>


<br>
<% if is_moderator?(current_user, @sub) %>
 <%= button_to "edit", edit_sub_url(@sub), method: :get %>
 <% end %>



