<% action_url = post.persisted? ? post_url(post) : posts_url %>
<% http_method = post.persisted? ? "PATCH" : "POST" %>


<form action="<%= action_url %>" method="POST">
  <input type="hidden" name="_method" value="<%= http_method %>">
  
  <%= authenticate %>
  
  <label>title<input type='text' name='post[title]'></label>
  
  <label>content<textarea name='post[content]'> </textarea></label>
  <br>
  
  <br>
  
  <input type='hidden' name='post[sub_ids][]' value=''>
    <% Sub.all.each do |sub| %>
      <label>
        <input type='checkbox' 
        name='post[sub_ids][]' 
        value='<%= sub.id %>'
         <% 'checked' if @post.sub_ids.include?(sub.id) %>>   
        <%= sub.title %>
      </label>
    <br>
    <% end %>
  
  
  <input type='submit'>

</form>
