<h1><%= @post.title %></h1>

<%= @post.content %>

<h3>Comments</h3>
<ul>
<% @post.comments.each do |comment| %>
  <li><%= comment.content %></li>
  <% end %>
</ul>

<%= button_to 'comment', new_post_comment_url(@post), method: :get %>
<%= button_to 'subs', subs_url, method: :get %>

<br>
<% if is_author?(current_user, @post) %>
 <%= button_to "edit", edit_post_url(@post), method: :get %>
 <% end %>

