<!DOCTYPE html>
<html>
<head>
  <title>RedditClone</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<br>
<br>
<br>
<br>
<% if logged_in?(current_user) %>
  <%= button_to "logout", session_url, method: :delete %>
<% else %>
  <%= button_to "sign in", new_session_url, method: :get %>
  <%= button_to "sign up", new_user_url, method: :get%>
<% end %>
</body>

<%= button_to 'home', root_url, method: :get %>

</html>
